.footnote{
  /* margin: 0 auto; */
  /* width: 850px;
  font-family: "Arial", sans-serif; */
  font-size: 12px!important;
  font-style: italic!important;
  /* padding-bottom: 40px; */
}

#map{
  display: block;
  margin: auto;
}
#slider{
  display: block;
  margin: auto;
}
.map-container{
  margin: 0 auto;
}
.feature {
  fill: rgba(255,255,255,0.01);
  stroke: gray;
  stroke-width: 1px;
  cursor: pointer;
}

.counties {
  fill: rgba(255,255,255,0);
  stroke: gray;
  stroke-width: 0px;
}

.shootings {
  fill: red;
  stroke: black;
  stroke-width: 0.2%;
  opacity: 0.8;
}

/* Slider styling adapted from Mike Bostock's Drag Slider */
/* https://bl.ocks.org/mbostock/6452972 */
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.svg_graph{
  font-family: sans-serif;
}

.line {
  fill: none;
  stroke: #999999;
  stroke-width: 5px;
}

.selected {
  stroke: #EF5285;
}

.tooltip {
  position: absolute;
  text-align: left;
  color: white;
  width: 250px;
  height: 60px;
  padding: 8px;
  font: 0.75em sans-serif;
  background: #39393a;
  border: 0px;
  /* border-radius: 8px; */
  pointer-events: none;
}

.tooltipShooting {
  position: absolute;
  text-align: left;
  color: white;
  width: 280px;
  height: 75px;
  padding: 8px;
  font: 0.75em sans-serif;
  background: #7F2626;
  border: 0px;
  /* border-radius: 8px; */
  pointer-events: none;
}

.greybox{
  width: 100%;
  background-color: #708090!important;
  color: #fff;
  padding: 8px;
}

.legendNote{
  font: 0.6em sans-serif;
}
